<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>TestNode</string>
	<key>WCCommand</key>
	<string>App.js</string>
	<key>WCUUID</key>
	<string>0A365FA5-6BC7-4E0C-8C37-29778A222EC0</string>
	<key>WCEditable</key>
	<integer>0</integer>
</dict>
</plist>
